black==21.12b0
certifi==2020.12.5
chardet==4.0.0
click==8.0.3
flake8==4.0.1
idna==2.10
loguru==0.5.3
lxml==4.6.2
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
pycodestyle==2.8.0
pyflakes==2.4.0
requests==2.25.1
tomli==1.2.3
tqdm==4.62.3
typer==0.4.0
typing_extensions==4.0.1
urllib3==1.26.2
